parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        # - tests/

    ignoreErrors:
        -
            # @todo Clean up.
            message: '#no value type specified in iterable type array#'
