{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block stylesheets %}
    <style>
        html, body, .container-fluid {
            height: 100%;
        }

        .container-fluid {
            display: flex;
            flex-direction: column;
        }

        .container-fluid > div + div {
            flex: 1;
        }

        iframe {
            width: 100%;
            height: 80%;
            border: none;
            outline: solid 1px red;
        }
    </style>
    {#{ encore_entry_link_tags('app') }#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const scrollConsole = () => {
            document.querySelector('iframe').contentWindow.scrollTo(0, 99999999)
        }
        const interval = setInterval(scrollConsole, 100)
        window.processCompleted = (info) => {
            clearInterval(interval)
            scrollConsole()
            alert(JSON.stringify(info, null, 2))
        }
    </script>
{%  endblock %}

{% block body %}
    <div class="container-fluid">
        <div>
            {{ form(form, {attr: {target: 'output'}}) }}
        </div>
        <div>
            <iframe name="output"></iframe>
        </div>
    </div>
{% endblock %}
